.content {
  margin: 20px;
  margin-top: 100px;
  padding: 10px; /* Innenabstand */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Schatten */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow-y: auto; /* Änderung */
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  flex: none;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  flex: 1;
  width: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 40px;
}

.imageContainer img {
  margin: 10px;
  max-width: 50%;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.content button {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(270deg, #54e2ff, #7826fd);
  background-size: 200% 200%;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-position 1s;
  margin: 5px;
  transition: transform 0.1s ease-in-out;
}

.content button:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
  background-position: right;
}

.content button:active {
  transform: scale(0.9); /* Hinzugefügt */
}
